# .env.example

# Flask
FLASK_ENV=development
SECRET_KEY=trabajo_final
PORT=5000

# Base de datos (Compose inyecta DATABASE_URI hacia el host 'db')
# Para lanzar la app fuera de Docker, cambia 'db' por '127.0.0.1'
SQLALCHEMY_DATABASE_URI=postgresql://myuser:mypassword@db:5432/mydatabase
